<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background: #f5f5f5;
}
.app-container{
  margin-left: 200px;
  padding: 20px;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background:#d2a7a7;
  padding: 10px 20px;
}
.navbar .sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}
.app-container{
  margin-left: 210px;
  padding: 20px;
}
.nav-link,
.logout-btn{
  text-decoration: none;
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}
.nav-link:hover,
.logout-btn:hover{
  color: #007bff;
}
.nav-link.active{
  font-weight: bold;
  color: #007bff;
}
form{
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
button{
  padding: 8px;
  font-size: 1rem;
}
button{
  cursor: pointer;
}
.quiz-container{
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  align-items: center;
}
.quiz-question{
  margin-bottom: 25px;
}
.quiz-options{
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.quiz-options li{
  margin-bottom: 10px;
  padding-left: 5px;
  align-items: center;
  gap: 10px;
}
.quiz-btn{
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

.leaderboard{
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.leaderboard h2{
  margin-bottom: 15px;
}
.leaderboard-table{
  width: 100%;
  border-collapse: collapse;
}
.leaderboard-table th,
 .leaderboard-table td{
  border: 1px solid #ddd;
  padding: 8px;
}
.leaderboard-table th{
  background-color: #1A67F2;
  color: #fff;
}
@media(max-width:600px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-link,
  .logout-btn{
    margin-left: 0;
  }
}
=======
body{
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  background-color: #3aa3cd;
}
.container{
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
h1{
  font-size: 2rem;
  margin-bottom: 10px;
}
.controls{
  margin-bottom: 20px;
}
.controls input, 
.controls select, 
.controls button{
  margin: 0 10px;
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.product-grid{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.product-card{
  background-color: #f1f0eb;
   color: black;
  max-width: 250px;
  min-height: 400px;
  width: 100%;
  margin: 0 auto; 
  padding: 10px; 
  border-radius: 12px;
  box-shadow:  0 2px 8px rgba(177, 34, 34, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.product-card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.product-card img,
.product-img{
  max-height: 150px;
  max-width: 50%;
  width: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 8px;
}
.product-card button{
  background-color: #0bd408;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.add-to-cart-btn{
  background-color: green;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.add-to-cart-btn:hover{
  background-color: #006400;
}
@media(max-width:768px){
  .product-card img{
    height: 150px;
  }
}
>>>>>>> 57434306b07c4386472c30f842a231e7bc030061
